<div id="allGame">
    <div class="display">
      <h3 id="textDisp">{{textDisplay}}</h3>
      <div id="line"></div>
    </div>
      
  <div class="operators">
    <div id="top">
      <button class="btnOp" type="button" (click)="pressBtn('7')">7</button>
      <button class="btnOp" type="button" (click)="pressBtn('8')">8</button>
      <button class="btnOp" type="button" (click)="pressBtn('9')">9</button>
      <button class="btnOp" type="button" (click)="pressBtn('*')" style="color: green;">X</button>
    </div>
    <div id="middle">
      <button class="btnOp" type="button" (click)="pressBtn('4')">4</button>
      <button class="btnOp" type="button" (click)="pressBtn('5')">5</button>
      <button class="btnOp" type="button" (click)="pressBtn('6')">6</button>
      <button class="btnOp" type="button" (click)="pressBtn('/')" style="color: green;">/</button>
    </div>
    <div id="down">
      <button class="btnOp" type="button" (click)="pressBtn('1')">1</button>
      <button class="btnOp" type="button" (click)="pressBtn('2')">2</button>
      <button class="btnOp" type="button" (click)="pressBtn('3')">3</button>
      <button class="btnOp" type="button" (click)="pressBtn('+')" style="color: green;">+</button>
    </div>
    <div id="downzero">
      <button class="btnOp" type="button" (click)="pressBtn('0')">0</button>
      <button class="btnOp" type="button" (click)="pressBtn('-')" style="color: green;">-</button>
    </div>
    <button class="btnOp" type="button" (click)="calcResult()"><b>ENTER</b></button>
    <button class="btnOp" type="button" (click)="clear()"><b>LIMPAR</b></button>

  </div>
</div>
